/advancedREST/*zip
/advancedREST/__pycache__/
/intermediateREST/*zip
/intermediateREST/venv/
/intermediateREST/__pycache__/
/moreAuth/__pycache__/
/moreAuth/*zip
/OAuth2Implementation/client_secret.json
/OAuth2Implementation/*zip
